<div class="col-sm-2 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li>
      {{#link-to "hosts"}}
        Hosts
      {{/link-to}}
    </li>
    <li>
        {{#link-to "items"}}
            Items
        {{/link-to}}
    </li>
    <li>
        {{#link-to "user" currentUser.user.id }}
            Settings
        {{/link-to}}
    </li>
  </ul>
</div>